# deps
node_modules/
.pnpm-store/

# env & secrets
.env
.env.*
!.env.example

# build
dist/
build/
.turbo/
*.tsbuildinfo

# prisma
packages/db/prisma/*.db

# test & coverage
coverage/
playwright-report/
test-results/

# logs & os
*.log
.DS_Store

# sertifikat TLS produksi — JANGAN pernah commit private key
/certs/
*.pem
*.key
*.crt
*.pfx
